<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

Created by [Nathan Kelber](http://nkelber.com) for
Wayne State's Data Science Strategy and Leadership Course

[Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email nathan.kelber@ithaka.org.<br />
___

**Pandas Data Cleaning Assignment**

The data is available at: https://data.detroitmi.gov/datasets/blight-violations/data in CSV format. The dataset has 482,497 rows and the file size is 225 mb in size. This is about half the maximum number of rows in Excel (1,048,576 rows). I recommend checking out the data in Excel before attempting to manipulate it in Pandas. The operations you will do for this assignment can all be executed in Excel, but learning to do them in Pandas will unlock a few benefits for your future work:

* Pandas can operate on datasets that are much larger, millions of rows
* Faster manipulations
* Automating a series of transformations for new batches of data
* Opening up advanced Pandas methods like regular expression matching, melts, and complex functions that are difficult or impossible in Excel

**Business Proposition**
This assignment uses public data to discover possible clients for a snow removal business, but the methods could be used to locate clients in any number of fields. For example, the city of Detroit tracks data on [liquor licenses](https://data.detroitmi.gov/datasets/liquor-licenses/data?) which might be used to market liquor or security products. Some other datasets include:

* [Licensed Professionals](https://data.detroitmi.gov/datasets/licensed-professionals)
* [Restaurant Inspections](https://data.detroitmi.gov/datasets/restaurant-inspections)
* [911 Calls for Service for the last 30 days](https://data.detroitmi.gov/datasets/911-calls-for-service-last-30-days-1)
* [City Payments (Open Checkbook)](https://data.detroitmi.gov/datasets/open-checkbook-payments)
* [Residential Demolitions](https://data.detroitmi.gov/datasets/completed-residential-demolitions/data?)

How can you imagine this data might be useful to local businesses?

# Challenge: Import Blight Data from the Detroit Open Data Portal

Download the data from https://data.detroitmi.gov/datasets/blight-violations/data in CSV format. You can see the file structure of this Jupyter environment by using menu: "File > Open". Then choose upload to upload the document to the environment. 

Alternatively, you can use the library `urllib` to pull in the data automatically. The direct link to the CSV file is: https://opendata.arcgis.com/datasets/fe2f692918a04c13a6cead436e7eaec9_0.csv

Can you adapt the code in the following cell to use that URL?

In [9]:
import requests

url = 'https://example.com/data.csv'
r = requests.get(url, allow_redirects=True)

open('Blight_Violations.csv', 'wb').write(r.content)

225260537

## Opening, Reading, and Writing CSV Files (.csv)
CSV file data can be easily opened, read, and written using the `pandas` library. (For large CSV files (>500 mb), you may wish to use the `csv` library to read in a single row at a time to reduce the memory footprint.) Pandas is flexible for working with tabular data, and the process for importing and exporting to CSV is simple.

Adapt the Pandas CSV read method below to our file name.

In [3]:
# Import pandas 
import pandas as pd

# Create our dataframe
df = pd.read_csv('example_file.csv', low_memory=False)

We can confirm our data has been read in with `.shape` which gives us the number of rows and columns in our dataframe.

In [5]:
# Use `.shape` to find rows and columns in the DataFrame
df.shape

(482497, 36)

In [10]:
# Preview the first 10 rows in our dataframe
df.head(10)

,X,Y,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,...,clean_up_cost,payment_amount,payment_date,payment_status,collection_status,violation_address,parcelno,oid,geom,fine_amount
0,-83.072573,42.383350,18645,05001700DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,Dean Byrd,601,KING,NaN,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,601 KING,03002390.,18645,NaN,NaN
1,-83.072479,42.383394,18646,05001701DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,Cynthia Roberts,607,KING,NaN,...,NaN,NaN,1970/01/01 00:00:00+00,NO PAYMENT DUE,NaN,607 KING,03002391.,18646,NaN,NaN
2,-83.115061,42.359916,18648,05001703DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,Dannny Barnes,4066,COLUMBUS,NaN,...,NaN,NaN,1970/01/01 00:00:00+00,NO PAYMENT DUE,NaN,4066 COLUMBUS,14002572.,18648,NaN,NaN
3,-83.128041,42.393448,18649,05001704DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,Gloria Seldon,3005,PASADENA,NaN,...,NaN,NaN,1970/01/01 00:00:00+00,NO PAYMENT DUE,NaN,3005 PASADENA,12004708.,18649,NaN,NaN
4,NaN,NaN,18650,05001705DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,Bessie Thomas,4024,CLEMENTS,NaN,...,NaN,NaN,1970/01/01 00:00:00+00,NO PAYMENT DUE,NaN,4024 CLEMENTS,NaN,18650,NaN,NaN

In [11]:
# Preview the last 5 rows in our dataframe
df.tail(5)

,X,Y,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,...,clean_up_cost,payment_amount,payment_date,payment_status,collection_status,violation_address,parcelno,oid,geom,fine_amount
482492,-83.097875,42.332362,525897,20034690DAH,"Buildings, Safety Engineering & Env Department",Brian Benn,2012 DALZELLE LLC,3311,VINEWOOD,48208,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,3311 VINEWOOD,14009145.,525897,NaN,NaN
482493,-83.097875,42.332362,525898,20034691DAH,"Buildings, Safety Engineering & Env Department",Brian Benn,2012 DALZELLE LLC,3311,VINEWOOD,48208,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,3311 VINEWOOD,14009145.,525898,NaN,NaN
482494,-83.121150,42.392174,525899,19064706DAH,"Buildings, Safety Engineering & Env Department",Dhafir Hasan,KENNETH LEE,13240,LINWOOD,48238,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,13240 LINWOOD,10007494-5,525899,NaN,NaN
482495,-83.139961,42.361928,525900,19064707DAH,"Buildings, Safety Engineering & Env Department",Dhafir Hasan,JAMES KITTRELL,9071,STOEPEL,48204,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,9071 STOEPEL,16019848-51,525900,NaN,NaN
482496,NaN,NaN,525903,20034123DAH,"Buildings, Safety Engineering & Env Department",Joseph Burson,MELVIN WASHINGTON,3756,15TH ST,48208,...,NaN,NaN,1970/01/01 00:00:00+00,NaN,NaN,3756 15TH ST,NaN,525903,NaN,NaN

# Challenge: Drop Irrelevant Columns

We are primarily interested in discovering where snow removal is an issue. There is a lot of data in this dataset that is not relevant to our analysis. First, let's drop all columns except:

* ticket_id
* violator_name
* mailing_address_str_number
* mailing_address_str_name
* city
* state
* zip_code
* violation_date
* violation_address
* violation_description

In [17]:
# Redefining the dataframe to certain columns
df = df.loc[:, ['column_1', 'column_2', 'column_3']]

In [ ]:
# List the name of all columns
df.columns

In [18]:
# Printing out the first five rows of the new dataframe
df.head()

,X,Y,ticket_id,violator_name,mailing_address_str_name,city,state,zip_code,violation_date,violation_address,violation_description
0,-83.072573,42.383350,18645,Dean Byrd,King,Det,MI,48202,2005/01/13 00:00:00+00,601 KING,Failure of owner to obtain certificate of comp...
1,-83.072479,42.383394,18646,Cynthia Roberts,Appoline,Det,MI,48235,2005/01/14 00:00:00+00,607 KING,Failure of owner to obtain certificate of comp...
2,-83.115061,42.359916,18648,Dannny Barnes,Columbus,Det,MI,48204,2005/01/14 00:00:00+00,4066 COLUMBUS,Failure of owner to obtain certificate of comp...
3,-83.128041,42.393448,18649,Gloria Seldon,Pasada,Det,MI,48238,2005/01/14 00:00:00+00,3005 PASADENA,Failure of owner to obtain certificate of comp...
4,NaN,NaN,18650,Bessie Thomas,Westmoreland,Det,MI,48219,2005/01/14 00:00:00+00,4024 CLEMENTS,Failure of owner to obtain certificate of comp...

# Challenge: Standardize the 'city' Column

Our city column has a lot of variation in the names for cities. We can see that there are a ton of different city names. The next code cell shows how many.

In [24]:
# Display the number of unique values in the city column
unique_names = df['city'].unique()
print(len(unique_names))

9921

We can see the scope of the problems by printing out our list.

In [25]:
list(unique_names)

['Det',
 'DEt',
 'Mt. Clements',
 'Bloomfield Hills',
 'detroit',
 'DETROIT',
 'GROSSE POINTE',
 'SOUTHGATE',
 'DEARBORN',
 'W.BLOOMFIELD',
 'BLOOMFIELD HILLS',
 'BELLEVILLE',
 'NOVI',
 'Detroit',
 'SOUTHFIELD',
 'Troy',
 'NEW YORK',
 'Southfield',
 'Sterling Heights',
 'Auburn Hills',
 'REDFORD',
 'Clinton',
 'Canton',
 'INKSTER',
 'det',
 'LIVONIA',
 'ROSEVILLE',
 'Grose Pinte',
 'McLEAN',
 'Mt. Clemens ',
 'Livonia',
 'Northville',
 'Franklin',
 'W. BLOOMFIELD',
 'ST.CLAIR SHORES',
 'ROYAL OAK',
 'LAS VEGAS',
 'Det.',
 'FARMINGTON HILLS',
 'STERLING HEIGHTS',
 'Harrisburg',
 'WARREN',
 'GROSSE POINTE PARK',
 'MINNEAPOLIS',
 'Belleville',
 'OPELOUSAS',
 'MOUNTAIN HOUSE',
 'Farmington Hills',
 'TAYLOR',
 'HAMTRAMICK',
 'Harrison Twp.',
 'Ortonville',
 'BRIGHTON',
 'HARPER WOODS',
 'ALLEN PARK',
 'MIAMI',
 'FRANKLIN',
 'CANTON',
 'FLINT',
 'Sterling Heighs',
 'Hazel Park',
 'South Field',
 'MELVINDALE',
 'St. Clair hores',
 'Oak Park',
 'CHICAGO',
 'DETRIT',
 'Ferndale',
 'River Rouge',
 'KALAMAZOO',
 'Lanham',
 'ANN ARBOR',
 'TROY',
 'HUNTSVILLE',
 'DETOIT',
 'Highland Park',
 'Warren',
 'EASTPOINTE',
 'KNOXVILLE',
 'BLOOMFIELD',
 'WEST BLOOMFIELD',
 'EAST POINTE',
 'OAK PARK',
 'NORTHVILLE',
 'DEERFIELD',
 'ROMULUS',
 'LOUISVILLE',
 'HARRISON TWN',
 'MANCELONA',
 'DEARBORN HGTS',
 'CLINTON TWP',
 'DEARBORN HGTS.',
 'White Lake',
 'BLOOMFIELD  HILLS',
 'Birmingham',
 'Huntington Woods',
 'Lathrup Village',
 'mt. morris',
 'NEWPORT',
 'HAZEL PARK',
 'LAKE ORION',
 'S. Rockland',
 'STERLING HEIGHT',
 'SHELBY',
 'FARMINGTON',
 'Antioch',
 'Bloomfield',
 'Dearborn',
 'PLYMOUTH',
 'Southgate',
 'PHOENIX',
 'EUREKA',
 'WALLED LAKE',
 'WESTLAND',
 'SOUTH FIELD',
 'BIRMINGHAM',
 'ST. CLAIRE SHORES',
 'DALLAS',
 'DECATUR',
 'MT JULIET',
 'BELEVILLE',
 'Glendale',
 'CLEARWATER',
 'Azusa',
 'BERKLEY',
 'Algonac',
 'W. Bloomfield',
 'Simi Valley',
 'Deroit',
 'GROSSE PTE WOOD',
 'GROSS POINTE',
 'CENTER LINE',
 'MILFORD',
 'DERTOIT',
 'DUBLIN',
 'CLINTON TWSP',
 'SIMI VALLEY',
 'Clarkston',
 'IRVINE',
 'COMMERCE  TWP',
 'SIMI  VALLEY',
 'SHAWNEE',
 'BLOOMFIELD ',
 'SAN ANTONIO',
 'OAK BROOK',
 'taylor',
 'FARMINGTON HILLS ',
 'farmington',
 'little rock',
 'WIXOM',
 'BLOOMFIELD TWP',
 'GROOSE PTE. FARMS',
 'MT. CLEMENTS',
 'DEARBORN HEIGHTS',
 'MT. CLEMENT',
 'detroitt',
 'sterling height',
 'TOLEDO',
 'ST CLAIR SHORES',
 'Farmington',
 'Baton Rouge',
 'Dearborn Hgts.',
 'St Louis',
 'D',
 'OAL PARK',
 'FERNDALE',
 'OAK PARK ',
 'Redford',
 'CAMPBELL',
 'PITTSBURGH',
 'SOTHFIELD',
 'clarkston',
 'West Bloomfield',
 'MT. CLEMENS',
 'East pointe',
 'Plymouth',
 'Dearborn Hgts',
 'Dearborn Heights',
 'Sterling Hgts.',
 'detriot',
 'Brownstown',
 'Westland',
 'STERLING HGTS',
 'HIGHLAND',
 'Sothfield',
 'MADISON HEIGHTS',
 'Waterford',
 'GROSSE POINT',
 'West Blooomfield',
 'FRASER',
 'Commerce Twp.',
 'Cleveland',
 'CLINTON TWP.',
 'deroit',
 'PONTIAC',
 'GLENDALE',
 'GARDEN CITY',
 'canton',
 'SOUTHDIELD',
 'southfield',
 'DETRIUT',
 'warren',
 'mount clemens',
 'MILWAUKEE',
 'oak park',
 'MIAMISBURG',
 'DEROIT',
 'DET',
 'SULLIVAN',
 'Las Vegas',
 'Roseville',
 'Grosse Pointe',
 'DERROIT',
 'LATHRUP VILLAGE',
 'Grosse Pointe Park',
 'GERMAN TOWN',
 'BELOIT',
 'mt clemens',
 'eastpoint',
 'Macomb',
 'BIRMINGTON',
 'BINGHAM FARMS',
 'BINGHAM FARMS ',
 'DEROT',
 'Eastpointe',
 'GRASS LAKE',
 'LINCOLN PARK',
 'Lincoln Park',
 'GROSSE PTE. WOODS',
 'CINCINNATI',
 'HIGHLAND PARK',
 'WASHINGTON',
 'DELAND',
 'KALAMZOO',
 'SHELBY TOWNSHIP',
 'HARPERWOODS',
 'AUBURN HILLS',
 'ST. Clair Shores',
 'St. Clair Shores',
 'DEETROIT',
 'CHERMONT',
 'Shelby',
 'BROWNSTOWN',
 'Utica',
 'Jacksonville',
 'HOUSTON',
 'GROSSE POINTE WOOD',
 'Novi',
 'ORANGE',
 'SAN DIEGO',
 'CORAL GABLES',
 'west bloomfield',
 'Jersey City',
 'Jersey',
 'CARLETON',
 'PHOENIXVILLE',
 'GROSSE PTE WOODS',
 'FARMINTON',
 'NORTHRIDGE',
 'JACKSONVILLE',
 'Edmonds',
 'MARLTON',
 'LEXINGTON',
 'KEEGO HARBOR',
 'ALLENPARK',
 'CHAMBLEE',
 'SCOTTSDALE',
 'EASTPOINT',
 'PLY',
 'LIGHT OUSE POINTE',
 'HOWELL',
 'GROSSE PTE ',
 'WILDOMAR',
 'LANSING',
 'DTEROIT',
 'SUTTONS BAY',
 'DETROIT`',
 'EASTPOINTE ',
 'FARMINGTON HILL',
 'springfield',
 'GROSSE POINTE FARMS',
 'DETROITdetroit',
 'SANDY',
 'HUNINGTON BEECH',
 'CLINTON TOWNSHIP',
 'YPSILANTI',
 'FLOSSMOOR',
 'Rochester',
 'EAST LANSING',
 'TRENTON',
 'JERSEY CITY',
 'FRAMINGTON HILLS',
 'SELFRIDGE AB',
 'NORTHFIELD',
 'FORT MILL',
 'E. LANSING',
 'livonia',
 'BRONX',
 'Orchard Lake',
 'Rochester Hills',
 'BLOOMFILED',
 'MARINES CITY',
 'WAYNE',
 'HIGHLAND PK',
 'MACOMB',
 'BERLEY',
 'MT. MORRIS',
 'IRVING',
 'MCLEAN',
 'MENOMONEE',
 'MENDOTA HEIGHTS',
 'HUNTINGTON BEACH',
 'ORLANDO',
 'OAR PARK',
 'UTICA',
 'ECORSE',
 'COSTA MESA',
 'LAGUNA NIGUEL',
 'LOG BEACH',
 'UNION LAKE',
 'Kentwood',
 'Southfiled',
 'Harper Woods',
 'Randolph',
 'DOUGLASVILLE',
 'RIVERDALE',
 'NORTH RIVERSIDE',
 'DEAROBRN',
 'GRAND RAPIDS',
 'CANTON TOWNSHIP',
 'FARMING HILLS',
 'SHELBY TWP',
 'FENTON',
 'SAN JOSE',
 'Ann Arbor',
 'ROMEO',
 'garden city',
 'lathrup village',
 'DETROIOT',
 'DACOLA',
 'SALT LAKE CITY',
 'BLOOMFIELD TWP.',
 'VERNON HILLS',
 'CLINTON',
 'JACKSON',
 'INDIAN RIVER',
 'LAPEER',
 'NEW BALTIMORE',
 'LATHRUP',
 'MADISON HTS. ',
 'HOLLY',
 'COLUMBUS',
 'ALGONAC',
 'LIVIONIA',
 'HAPER WOODS',
 'MILWAUkEE',
 'CLEVELAND',
 'NORTH MIAMI',
 'STERLING HGTS.',
 'EAST POINT',
 'HARTLAND',
 'WHITE LAKE',
 'Fraser',
 'Harrison',
 'OAK PPARK',
 'HATBORO',
 'HORSHAM',
 'SOUTHFILED',
 'MENDOTA HGTS.',
 'Dryden',
 'Aubran',
 'Newbern',
 'Berkley',
 'W..BLOOMFIELD',
 'EL PASO',
 'ST. CLAIR SHORES',
 'DETROIT   ',
 'st alban',
 'los angeles',
 'BUFFALO',
 'REX',
 'WEST PALM BEACH',
 '48221',
 'WINTER PARK',
 'OAKLAND',
 'SALT LK CITY',
 'STERLING HTS.',
 'HARSENS ISLAND',
 'Inkster',
 'LOWELL',
 'INDEPENDENCE',
 'ROCHESTER',
 'DACULA',
 'ROMULLUS',
 'NORTHIGH',
 'HERRISON TWP',
 'WALTHAM',
 'SOUTHFIELD ',
 'Beverly Hills',
 'DETRJOIT',
 'DEXTER',
 'HOUSTON ',
 'STERLING HGHTS.',
 'GEORGETOWN',
 'HONOR',
 'GAITHERSBURG',
 'CLINTON ',
 'STERLING HGHTS',
 'Faribault',
 'AMBLER ',
 'Stamford',
 'Chicago',
 '48227',
 'Brownstone',
 'Grand Blanc',
 'Ionia',
 'Pinckney',
 'Fenton',
 'Houston',
 'Ypsilanti',
 'Taylor',
 'Royal Oak',
 'ARBOR',
 'TEXARKAWA',
 'South Rockwood',
 'GROSS POINTE FARMS',
 'CENTERLINE',
 'Suttons Bay',
 'WATERFORD',
 'THOMPSONVILLE',
 'ScottBluff',
 'Slyvanna',
 'Riverview',
 'Allen Park',
 'COPPELI',
 'BLOOMFIELD HILL',
 'CASCO',
 'CARTERSVILLE',
 'ORTONVILLE',
 'W.  BLOOMFIELD',
 'LAWRENCEVILLE',
 'NORTHWILLVE',
 'MIAMSBURG',
 'DEARNBORN',
 'PALATINE',
 'GROSS POINT',
 'BLOOMFIELD HILLS ',
 'DEARBORN HTS.',
 'MENDOTA HGT',
 'LAKE  ORION',
 'Hamtrack',
 'HAMTRAMCK',
 'DETROTI',
 'MIAMI BEACH',
 'ORCHARD LAKE',
 'MT. JULIET',
 'WEST BLOOMFILED',
 'SOUTHIFIELD',
 'SCOTTDALE',
 'West Bloomfield ',
 'FERNDALE ',
 'McClean',
 'Macomb Twp.',
 'dearborn',
 'LATHRUP  VILLAGE',
 'Garden City',
 'WYANDOTTE',
 'Marlton',
 'NEW BOSTON',
 'RIVER ROUGE',
 'Chesterfield',
 'TULSA',
 'GROSSEPOINTE',
 'WASHINGTON TWP',
 'ROCHCHESTER HILLS',
 'ANAHEIM  HILLS   ',
 'MOUNT CLEMENTS',
 'DEARBRON',
 'STERLING  HGT',
 'DTROIT',
 'HOT SPRING',
 'LARGO',
 'Southfield ',
 'VENICE',
 'GARDENA',
 'PITTSBURG',
 'Bingham Farms',
 'MOBILE',
 'MENDATA  HGT',
 'GROSSE POINTE WOODS',
 'DETRPOT',
 'WhiteLake',
 'DETROT',
 'MACOMB TWP',
 'S. ROCKWOOD',
 'STERLING HTS',
 'PITTSFIELD',
 'RESTON',
 'TEXARKANA',
 'CLINTON  TWP.',
 'Los Angeles',
 'FORT WAYNE',
 'CHESAPEAKE',
 'DOTHAN',
 'Tady',
 'Dearborn Hgts.,',
 '14323',
 'Howell',
 'Pontiac',
 'HARBOR SPRINGS',
 'GROSE POINTE',
 'Birch Run',
 'MT. CLEMTNTS',
 'DETRIOT',
 'ELGIN',
 'Wayne',
 'REDFORE',
 'THE WOODLANDS',
 'DEABORN HGTS.',
 'Grand Rapids',
 'ST. CLAIR',
 'bloomfield hills',
 'ENCINO',
 'FALLS',
 'METAMORA',
 'Capac',
 'Brighton',
 'OSHAWA',
 'GULF SHORES',
 'St. Louis',
 'St.Clair Shores',
 'CLINTON TOWNSHIRE',
 'GOODELLS',
 'MOUNT CLEMENS',
 'DOWAGINE',
 'farmington hills',
 'OXFORD',
 'CUPERTINO',
 'COMMERCE TWP',
 'HARRISON TWP',
 'SOUTHFIED',
 'SIMS VALLEY',
 'FARMIJNGTON HILLS',
 'STERLING HGTS. ',
 'Goodell',
 'HUNTINGTON',
 'Center Line',
 'W.EST BLOOMFIELD',
 'FARMINGTON ',
 'SMITHS CREEK',
 'CATHERINE',
 'Jackson',
 'DURHAM',
 'Oak  Park',
 'ROCKWOOD',
 'BALTIMORE',
 'HASKELL',
 'COMSTOCK PARK',
 'st clair shores',
 'LIVONIS',
 'STERLING',
 'LANCASTER',
 'belleville',
 'DAYTON',
 'Clinton Twp.',
 'Jerome',
 'LATHRUP ',
 'W BLOOMFIELD',
 'Lansing',
 'Riverdale',
 'HENDERSON',
 'ETROIT',
 'St. Clairs Shores',
 'Trenton',
 'ROSWELL',
 'Casco',
 'GADSDEN',
 'GRAND RIPIDS',
 'Clarksburg',
 'BRANDYWINE MD.',
 'Centerline',
 'GOSHEN',
 'San Antonio',
 'Clinton Twp.,',
 'STOCKBRIDGE',
 'Lake Orion',
 'Roswell',
 'ALBION',
 'Grosse Pte.,',
 'APACHE JUNCTION',
 'LINDEN',
 'PINE BLUFF',
 'SILVER SPRINGS',
 'WHEAT RIDGE',
 'Walled Lake',
 'WOODHAVEN',
 'CLAWSON',
 'GROSSE PTE.',
 'ROCHESTER HILLS',
 'N. RIVER',
 'LATHRUP VILLA',
 'OAKPARK',
 'FERNALE',
 'GROSSE PTE. PARK',
 'SAINT CLAIR SHORES',
 'E. Lansing',
 'BIRHINGHAM',
 'Lathrop Village',
 'OakLawn',
 'ALTADNA',
 'WETLAND',
 'Grosse Pte Park',
 'NEW HUDSON',
 'Chamblee',
 'SOUTH ROCKWOOD',
 'Sterling Hgts',
 'Miami',
 'WOODRIDGE',
 'SOUTH   LYON',
 'Miamiburg',
 'Linden',
 'Moreno Valley',
 'W. FREMONT',
 'GROSSE PTE',
 'Pensacola',
 'MT. HOPE',
 'Parma',
 'MEMPHIS',
 'W. BLOOMFILED',
 'STERLING HEGHT.',
 'Miami Beach',
 'ATLANTA',
 'SALEM',
 'IN. RIVER',
 'Mt. Laurel',
 'BEVERLY HILLS',
 'HUNTINGTON WOODS',
 'Arlington',
 'NORTHSTREET',
 'GROSSE  POINTE  FARMS',
 'bangor',
 'WESST BLOOMFIELD',
 'HIGHLAND PK.',
 'GROSS ILE',
 'CLARITA',
 'Manhattan',
 'Grosse Pointe Pk',
 'DUMFRIES',
 'PORTLAND',
 'BEVERLY HILL',
 'TEMPE',
 'TARPON SPRINGS',
 'CHEYBOYGAN',
 'Absecon',
 'Frankling ',
 'Tucker',
 'San Bernadino',
 'Clarksville',
 'LINCOLN PK',
 'OAK  PARK',
 'THE LAKES',
 'E. WARREN',
 'HARRISON  TWP',
 'Dearborn Hgts., ',
 'TAMPA',
 'S. Rockwood',
 'BELLVILLE',
 'SOUTH  LYON',
 'SIMI-VALLEY',
 'N. Rockwood',
 'FARMINDTON',
 'New Boston',
 'Rockwood',
 'DEARBORN HGHT.',
 'Grosse Pte., Farms',
 'BERKELY',
 'SPRIN G VALLEY',
 'MINOMONEE FALLS',
 'GROSSE PTE FARMS',
 'Highland Pk.',
 'SHELBY TWSP',
 'Sussex',
 'HERSHAN',
 'Peck',
 'GPF',
 'CHESTERFIELD',
 'SAGINAW',
 'TOWNSEND',
 'FOWLERVILLE',
 'FARMINGTIN HILLS',
 'GardenCity',
 'Fowlerville',
 'Wyandotte',
 'Selma',
 'LOS ANGELES',
 'Manistique',
 'FREMONT',
 'WINDSOR',
 'SOUTH LYON',
 'CLIO',
 'LIVOINIA',
 'GALLOWAY',
 'Shelton',
 'ELLENWOOD',
 'DRYDEN',
 'PHILADELPHIA',
 'SACRAMENTO',
 'MACAOMB',
 'Temperance',
 'SPRINGFIELD',
 'BIRMINGTON HILLS',
 'Orlando ',
 'MONROVIA',
 'berkley',
 'ALEXANDRIA',
 'dETROIT',
 'DEARBON',
 'FRANNKLIN',
 'north miami',
 'LIVONAI',
 'BINGHAM  FARMS',
 'ST. CLAIRS SHORES',
 'ALLEN PK.',
 'GRAND BLANC',
 'TECUMSEH',
 'STRELING HGTS',
 'MT CLEMENTS',
 'clinton township',
 'N. BLOOMFIELD',
 'BITELY',
 'DEARBORN HILLS',
 'ORION',
 'CHARLOTTE',
 'WAUKEGAN',
 'LIOVONIA',
 'Nashville',
 'Titusville',
 'MELROSE',
 'FARMING  HILLS',
 'GROSSE POINT FARMS',
 'LEBANON',
 'ANAHEIM HILLS',
 'KENT',
 'BELVILLE',
 'ROWLET',
 'GENEVA',
 'PALM BEACH ',
 'AUBURN HILL',
 'HARRISON TOWNSHIP',
 'Inskster',
 'Detrofit',
 'VAN BUREN TWP',
 'PECK',
 'PORT HURON',
 'BELLVILE',
 'Ellenwood',
 'DETRROIT',
 'CASEVILLE',
 'DETROIT ',
 'CLINTON TOWNSHIP ',
 'Harrison Township',
 'ROCHESTER HILL',
 'AUSTIN',
 'SALT LAKE',
 'Melvindale',
 'South Lyon',
 'BEVERL  HILLS',
 'CURTICE',
 'MISHAWAKA',
 'Saline',
 'MENDOTA   HTS',
 'SHELBY TWP.',
 'BROWNSTONE',
 'BROWNTOWN ',
 'RICHMONG',
 'BEARBORN',
 'PEMBROKE PINES',
 'Grosse Pointe Farms',
 'OAK PK.',
 'GROSSE PTE. FARMS',
 'CINNCINNATI',
 'Ecorse',
 'HAMTRACK',
 'Independence',
 'COMMERCE',
 'JEROME',
 'IDLEWILD',
 'WARREN ',
 'FT. LAUDERDALE',
 'DEARBORN HGHTS',
 'FRANKLINS',
 'college park',
 'HARPER',
 'NEW BALITMORE',
 'HARRISTON TWP',
 'RICHMOND',
 'HEPHZIBAH',
 'ALLEN PK',
 'DETROIRT',
 'CHARLESTON',
 'DENTON',
 'Commerce Township',
 'SOMERSET',
 'MILAN',
 'Grapevine',
 'EASTPOINT`',
 'MILWAIKEE',
 'Cave Cree',
 'Gadsden',
 'BARKSDALE',
 'OREGON TWP.',
 'Romulus',
 'ADAMSVILLE',
 'CADILLAC',
 'dearborn heights',
 'MORRISTOWN',
 'WHEELOCK',
 'Hillsdale',
 'Brooklyn',
 'MASON',
 'GROSSE POINTE PK',
 'LIVIONA',
 'DETROIT,',
 'STERLING HEIGTS',
 'W. BOLLMFIELD',
 'MELBOURNE',
 'NORTHBROOK',
 'RONULUS',
 'ROSEDALE CT',
 'SIMI ALLEY',
 'PUNTA GORDA ISLES',
 'PUNTA GORDA ISLE',
 'CLARKSTON',
 'OAKLAWN',
 'DETROITM',
 'SIUTHFIELD',
 'MENDOTA HTS',
 'STERLING  HEIGHTS',
 'NEW  YORK',
 'trenton',
 'Farminigton Mi',
 'COPPELL',
 'BIRNINGHAM',
 'Temple Hills',
 'HARRISBURG',
 'ALBANY',
 'WOONSOCKET',
 'BEECHWOOD',
 'W PALM BEACH ',
 'AURURA',
 'N.MIAMI',
 'SELMA ',
 'SELMA',
 'RIVERDALE ',
 'LANGUNA NIGUEL',
 'SANDUSKY',
 'RACINE',
 'ST. CLAIR SHORE',
 'RIVERVIEW',
 'Burgess',
 'GROSSE PTE PARK',
 'Middleville',
 'Middlevillle',
 'LITHONIA',
 'BUFFALO GROVE',
 'E.  LANSING',
 'SYLVAN LAKE',
 'SYLVAN LAKE ',
 'STFLD',
 'PALMS BEACH',
 'OAKLAND TWP',
 'HAZEL PK',
 'ALBUQUERQUE',
 'SOUTHROCKWOOD',
 'SanDiego',
 'FARMINGTONHILLS',
 'HUNTING BEACH',
 'NEW BALTMORE',
 'GARDEN CITY ',
 'SOUTHLYON',
 'STERLING HGT',
 'BRIDGEPORT',
 'HUNGTINGTON WOODS',
 'HUNGTINGTON',
 'GLADWIN',
 'CENTERLINE MI',
 'WALLED LAKE ',
 'GROSS POINTE PK',
 'HARPER WOOD',
 'LANDOVDER ',
 'rochester',
 'DETEROIT',
 'ESTPOINTE',
 'BRANDON',
 'ST. CHARLES',
 'SYNAN',
 'Chatsworth',
 'IRVINE ',
 'Fernandale',
 'Deerfield',
 'BRIGHTON ',
 'UITCA',
 'LEWISVILLE',
 'mission viejo',
 'bloomfield  twp',
 'OAK LAWN',
 'RIDGE CIRCLE',
 'Hatboro',
 'INDIANAPOLIS',
 'SCOTTDALES',
 'BATON ROUGE',
 'SEFFNER',
 'Boston',
 'WADDELL',
 'KENTWOOD',
 'AVOCA',
 'MADISONVILLE',
 'MELROSE PARK',
 'Naples',
 'JAMESTOWN',
 'FARMINGTON  HILLS',
 'COMMERCE TWP.',
 'DLIVONIA',
 'HUNTINGTON WDS',
 'PONTIAC ',
 'Washington',
 'CLALY',
 'Mt. Clemens',
 'DEARORN HGTS.',
 'Clinton Township',
 'BROWNSTONE TWP.',
 'LINCOLN PK.',
 'WICHITA FALLS',
 'FARMINGTON NHILLS',
 'GROSS POINTE WOODS',
 'ALEXANDRA',
 'MARIETTA',
 'MT CLEMENS',
 'Sherwood',
 'KERGO HARBOR',
 'ANN  ARBOR',
 'SIMI  VALLY',
 'BLOOMFIELD   ',
 'WORCESTER',
 'MENOMONEE FALLS',
 'BELLEVUE',
 'ST. CLAIR SHORES ',
 'WASHINGTON ',
 'SEC 1',
 'ONEONTA',
 'W,Bloomfield',
 'FORT WORTH',
 'FORT MILL ',
 'Fort Mill',
 'CHICAGO ',
 'ST. CLAIR SHORES.',
 'NORRIDGE ',
 'Cherboygan',
 'New Baltimore',
 'VASSAR',
 'W.Bloomfield',
 'Mclean',
 'KAN KAKEE',
 'BEVERLY ILLS',
 'RiverRouge',
 'Columbus',
 'TALOR',
 'Olney',
 'SUN VALLEY',
 '?',
 'BRASELTON',
 'RIALTO',
 'Detroti',
 'SOUTFIELD',
 'LAKEWOOD',
 'COMMERCE TOWNSHIP',
 'CANTON ',
 'FREDRICK',
 'Detroi',
 'SAIT PAUL',
 'NEW HAVEN',
 'GROSSPOINTE',
 'OAK RIDGE',
 'Marietta',
 'PINKEY',
 'Grosse Ile',
 'SHEBLY',
 'TUSON',
 'WOODSTOCK',
 'ALLENDALE',
 'JONESBORO',
 'GERMANTOWN',
 'Bingham Farm',
 'New York',
 'GEARMANTOWN',
 'KANSAN CITY',
 'HARRISON',
 'ARMINTON HILLS',
 'SALTLAKE',
 'ROYAL OAK ',
 ...]

For a problem of this magnitude, we could use libraries like FuzzyWuzzy and Levenshtein to do fuzzy text matching to an established list of Michigan cities. We could also use a tool like OpenRefine. That's beyond the scope of our assignment though. Let's just focus on fixing the entries for Detroit which is a challenge in itself with variations including:

* 'Det'
* 'DEt'
* 'detroit'
* 'DETROIT'
* 'Detroit'
* 'det'
* 'det.'
* 'DETRIT'
* 'DETOIT'
* 'Deroit'
* 'Dertoit'

By the way, you can [buy 'Dertroit Beisbolcats' athletic wear](https://www.beisbolcats.com/collections/all). We can do a simple regular expression here to clean up many problems by matching all strings that begin with 'det'.

In [42]:
# Drop all rows without any data in city column
df = df.dropna(subset=['city'])

In [66]:
# Create a filter that matches 'det'
detroit_filter = df['city'].str.contains('det', case=False)

In [60]:
# Preview all the cities that match our detroit_filter
# We are not actually changing the dataframe here
matching_cities = df.loc[detroit_filter, 'city']
matching_cities.head(10)

0     Detroit
1     Detroit
2     Detroit
3     Detroit
4     Detroit
5     Detroit
6     Detroit
7     Detroit
10    Detroit
11    Detroit
Name: city, dtype: object

In [61]:
# Change all the matching cities to 'Detroit'
df.matching_cities = 'Detroit'

In [62]:
# Confirm the changes to the 'city' column
df.head(15)

,X,Y,ticket_id,violator_name,mailing_address_str_name,city,state,zip_code,violation_date,violation_address,violation_description
0,-83.0726,42.3834,18645,Dean Byrd,King,Detroit,MI,48202,2005/01/13 00:00:00+00,601 KING,Failure of owner to obtain certificate of comp...
1,-83.0725,42.3834,18646,Cynthia Roberts,Appoline,Detroit,MI,48235,2005/01/14 00:00:00+00,607 KING,Failure of owner to obtain certificate of comp...
2,-83.1151,42.3599,18648,Dannny Barnes,Columbus,Detroit,MI,48204,2005/01/14 00:00:00+00,4066 COLUMBUS,Failure of owner to obtain certificate of comp...
3,-83.128,42.3934,18649,Gloria Seldon,Pasada,Detroit,MI,48238,2005/01/14 00:00:00+00,3005 PASADENA,Failure of owner to obtain certificate of comp...
4,NaN,NaN,18650,Bessie Thomas,Westmoreland,Detroit,MI,48219,2005/01/14 00:00:00+00,4024 CLEMENTS,Failure of owner to obtain certificate of comp...
5,NaN,NaN,18651,Shams Algoro,Linwood,Detroit,MI,48221,2005/01/14 00:00:00+00,4017 CLEMENTS,Failure of owner to obtain certificate of comp...
6,-83.0361,42.3741,18652,Aljay Adams,E. Adams,Detroit,MI,48221,2005/01/14 00:00:00+00,3395 PALMER,Failure of owner to obtain certificate of comp...
7,-83.0192,42.3392,18653,na Garden Court Apt.s,E. Jefferson,Detroit,MI,48207,2005/01/14 00:00:00+00,2900 JEFFERSON,Failure of owner to obtain certificate of comp...
8,-83.0776,42.3743,18654,na JMC Manag.,po box,Mt. Clements,MI,48044,2005/01/14 00:00:00+00,69 SEWARD,Failure of owner to obtain certificate of comp...
9,-83.0837,42.3824,18655,Clairwood Apt.s,PO box,Bloomfield Hills,MI,48303,2005/01/14 00:00:00+00,100 CLAIRMOUNT,Failure of owner to obtain certificate of comp...
10,-83.1378,42.3426,18656,Veronica Marshall,pearl,Detroit,MI,48209,2005/01/14 00:00:00+00,6065 BRADEN,Failure of owner to obtain certificate of comp...
11,-82.9421,42.3885,18657,APB LAUNDRY,MACK,Detroit,MI,48224,2005/01/14 00:00:00+00,15439 MACK,Failure of owner to obtain certificate of comp...
12,-82.9462,42.3718,18658,HUGO CALISI,BRIARCLIF DRIVE,GROSSE POINTE,MI,48230,2005/01/14 00:00:00+00,14214 JEFFERSON,Failure of owner to obtain certificate of comp...
13,-83.0486,42.3357,18659,PAUL CURTIS,CANTERBURY,Detroit,MI,48221,2005/01/14 00:00:00+00,1509 BROADWAY,Failure of owner to obtain certificate of comp...
14,-83.0462,42.3353,18660,HARVARD SQUARE CENTER BLDG,CHARLES,Detroit,MI,48322,2005/01/14 00:00:00+00,1346 BROADWAY,Failure of owner to obtain certificate of comp...

# Challenge: Find all rows where 'violation_description' includes 'snow removal'

We want to use the data in these blight violations to target business owners that could use a reliable snow removal service. Most of the violations here are not relevant for that purpose. Let's remove any that do no mention snow removal.

In [ ]:
snow_filter = df['column_name'].str.contains('string', case=False)

In [65]:
df.head()

,X,Y,ticket_id,violator_name,mailing_address_str_name,city,state,zip_code,violation_date,violation_address,violation_description
0,-83.0726,42.3834,18645,Dean Byrd,King,Detroit,MI,48202,2005/01/13 00:00:00+00,601 KING,Failure of owner to obtain certificate of comp...
1,-83.0725,42.3834,18646,Cynthia Roberts,Appoline,Detroit,MI,48235,2005/01/14 00:00:00+00,607 KING,Failure of owner to obtain certificate of comp...
2,-83.1151,42.3599,18648,Dannny Barnes,Columbus,Detroit,MI,48204,2005/01/14 00:00:00+00,4066 COLUMBUS,Failure of owner to obtain certificate of comp...
3,-83.128,42.3934,18649,Gloria Seldon,Pasada,Detroit,MI,48238,2005/01/14 00:00:00+00,3005 PASADENA,Failure of owner to obtain certificate of comp...
4,NaN,NaN,18650,Bessie Thomas,Westmoreland,Detroit,MI,48219,2005/01/14 00:00:00+00,4024 CLEMENTS,Failure of owner to obtain certificate of comp...

In [85]:
snow_filter = df['violation_description'].str.contains('snow', na=False, case=False)

In [86]:
snow_filter

0         False
1         False
2         False
3         False
4         False
          ...
482492    False
482493    False
482494    False
482495    False
482496    False
Name: violation_description, Length: 479388, dtype: bool

In [78]:
df = df.dropna(subset=['violation_description'])

In [87]:
df = df[snow_filter]

In [89]:
df.shape

(4703, 11)

# Bonus Challenge: Create a full address column
This challenge is not required for full credit but can you use the data from these columns:

* violator_name
* mailing_address_str_number
* mailing_address_str_name
* city
* state
* zip_code

to create a new column called 'mailing_address' so that each violator's address could easily be printed onto a snow removal service brochure that would be sent by mail?

# Challenge: Output Your Cleaned Data

After you've made any necessary changes in Pandas, write the dataframe back to the CSV file. (Remember to always back up your data before writing over the file.) Update the file name here to describe your final, cleaned dataset.

In [ ]:
# Write data to new file
# Keeping the Header but removing the index
df.to_csv('your_file_name.csv', header=True, index=False)